{{!< default}}

{{#post}}

<div class="indentation-container">
  <span class="attribute">"post"</span><span class="control inline">:</span>
  <span class="control inline">{</span><div class="row indentation-content">
    <div class="indentation indentation-toggle">
      <div class="indentation-line"></div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

      <!--
      {{#if image}}
      <div>
        <span class="attribute">"cover"</span>
        <span class="control inline">:</span>
        <span class="value">
          <img src="{{image}}" />
        </span>
        <span class="control inline">,</span>
      </div>
      {{/if}}
      -->

      <div>
        <span class="attribute">"title"</span><span class="control inline">:</span>
        <span class="value">"{{title}}"</span><span class="control inline">,</span>
      </div>

      <div>
        <span class="attribute">"date"</span><span class="control inline">:</span>
        <span class="value" datetime="{{date format='YYYY-MM-DD'}}">"{{date format='DD MMMM YYYY'}}"</span><span class="control inline">,</span>
      </div>

      <div class="indentation-container">
        <span class="attribute">"content"</span><span class="control inline">:</span>
        <span class="value">"</span><div class="row indentation-content">
          <div class="indentation indentation-toggle">
            <div class="indentation-line"></div>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            {{content}}
          </div>
        </div><span class="indentation-ellipsis indentation-toggle">...</span><span class="value">"</span><span class="control inline">,</span>
      </div>

      <div class="indentation-container">
        <span class="attribute">"tags"</span><span class="control inline">:</span>
        <span class="control inline">[</span><div class="row indentation-content">
          <div class="indentation indentation-toggle">
            <div class="indentation-line"></div>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

            {{#foreach tags}}
            <div class="array-item">
              <span class="value">"<a href="{{url}}">{{name}}</a>"</span>
              <span class="control inline">,</span>
            </div>
            {{/foreach}}

          </div>
        </div><span class="indentation-ellipsis indentation-toggle">...</span><span class="control inline">]</span><span class="control inline">,</span>
      </div>

      {{#author}}
      <div class="indentation-container">
        <span class="attribute">"author"</span><span class="control inline">:</span>
        <span class="control inline">{</span><div class="row indentation-content">
          <div class="indentation indentation-toggle">
            <div class="indentation-line"></div>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

            <div class="array-item">
              <span class="attribute">"name"</span><span class="control inline">:</span>
              <span class="value">"<a href="{{url}}">{{name}}</a>"</span><span class="control inline">,</span>
            </div>

            {{#if bio}}
            <div class="array-item indentation-container">
              <span class="attribute">"bio"</span>
              <span class="control inline">:</span>
              <span class="value">"</span><div class="row indentation-content">
                <div class="indentation indentation-toggle">
                  <div class="indentation-line"></div>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                  {{bio}}
                </div>
              </div><span class="indentation-ellipsis indentation-toggle">...</span><span class="value">"</span><span class="control inline">,</span>
            </div>
            {{/if}}

            <!--
            {{#if location}}
            <div class="array-item">
              <span class="attribute">"location"</span>
              <span class="control inline">:</span>
              <span class="value">"{{location}}"</span>
              <span class="control inline">,</span>
            </div>
            {{/if}}

            {{#if website}}
            <div class="array-item">
              <span class="attribute">"website"</span>
              <span class="control inline">:</span>
              <span class="value">"<a href="{{website}}">{{website}}</a>"</span>
              <span class="control inline">,</span>
            </div>
            {{/if}}
            -->

          </div>
        </div><span class="indentation-ellipsis indentation-toggle">...</span><span class="control inline">}</span><span class="control inline">,</span>
      </div>
      {{/author}}

      <div class="indentation-container">
        <span class="attribute">"share_on"</span><span class="control inline">:</span>
        <span class="control inline">[</span><div class="row indentation-content">
          <div class="indentation indentation-toggle">
            <div class="indentation-line"></div>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

            <div>
              <span class="value">"<a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">twitter</a>"</span>
              <span class="control inline">,</span>
            </div>

            <div>
              <span class="value">"<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">facebook</a>"</span>
              <span class="control inline">,</span>
            </div>

            <div>
              <span class="value">"<a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">google+</a>"</span>
            </div>

          </div>
        </div><span class="indentation-ellipsis indentation-toggle">...</span><span class="control inline">]</span><span class="control inline">,</span>
      </div>

    </div>
  </div><span class="indentation-ellipsis indentation-toggle">...</span><span class="control inline">}</span><span class="control inline">,</span>
</div>

{{/post}}
